<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Sentymenty</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">jakieś</a></li>
      <li class="nav-item"><a href="#" class="nav-link">głupoty</a></li>
    </ul>
  </header>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://www.kdnuggets.com/images/sentiment-fig-1-689.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Analiza sentymentu komentarzy i recenzji</h1>
      <p class="lead">Strona umożliwiająca analizę sentymentu na żywo, lub pozwalająca zapozanać się z najbardziej optymistycznymi oraz negatywnymi komentarzami o danym dziele</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Live</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Dane</button>
      </div>
    </div>
  </div>
</div>
